.social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}



@media (max-width:320px) {
    .navbar-collapse {
         background-color: white;
         padding-left: 20px;
         margin-bottom: 10px;
         position: absolute;
         top: 100%;
         padding-right: 155px;
     }
    
    html,
    body {
        overflow-x: hidden;
    }

    .navlogo {
        
        width: 90px;
        height: 80px;
    }

    .breadcrumb ul li a {
        text-decoration: none;
        color: white;
    }

    .breadcrumb ul li span {
        text-decoration: none;
        color: white;
    }

    .breadcrumb h1 {
        text-decoration: none;
        color: white;
        font-family: "DM Sans, sans-serif";
        font-weight: 700;
    }


    .serv-card {
        margin-top: 96px;
    }

    .serv-img {
        width: 100%;
        height: 254px;
    }

    .serv-con {
        padding-top: 50px;
    }

    .text-cont h1 {
        color: red;
        font-size: 22px;
    }

    .text-cont p {
        color: black;
        font-family: "DM Serif Display, serif";
        font-size: 32px;
    }


    .pic {
        height: 280px;
        width: 100%;
        object-fit: cover;

    }

    .bg-smth h1 {
        font-family: "DM Serif Display, serif";
        font-size: 20px;
        font-weight: 600;
    }

    .bg-smth p {
        color: rgb(136, 136, 136);
        font-family: "DM Serif Display, serif";
        font-size: 16px;
    }

    .bg-smth h2 {
        font-family: "DM Serif Display, serif";
        font-size: 20px;
        font-weight: 700;
    }
    .bg-smth ul{
        padding-left: 16px;
    }

    .bg-smth ul li {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 24px 5px;
    }

    .bg-smth ul li strong {
        color: rgb(128, 127, 127);
        font-size: 16px;
        font-weight: 700;
    }

    .bg-box {
        padding: 20px 20px;
        padding-bottom: 10px;
        background-color: rgb(248, 247, 247);
        box-shadow: rgb(180, 180, 180) 3px 3px 10px;
    }

    .bg-box a {
        text-decoration: none;
        color: black;
    }

    .bg-box a i {
        rotate: 318deg;
        color: rgb(154, 154, 154);
    }


    .bg-box h3 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 1px;
    }

    .bg-box h2 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 20px;
    }

    .container-fluid {
        padding-right: 0px;
    }



    .form-bg {
        background-color: rgb(234 237 240);

        padding: 20px 20px;
    }

    .form-label {
        color: rgb(109, 109, 109);
        padding: 8px 0px;
    }

    .form-button {
        padding: 10px 0px;
    }

    .form-btn {
        background-color: #043454;
        font-size: 18px;
        padding: 5px 20px;
        text-align: center;
        border-radius: 20px;
    }

    .form-info input {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

    .form-info textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 15px;
    }

    .form-bg h3 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 24px;
        font-weight: 600;
    }

    .last-pic img {
        width: 110px;

    }

    .link-last h2 {
        font-size: 24px;
        font-family: "DM Serif Display, serif";
        color: black;
    }

}


@media (min-width:321px) and (max-width:424px) {
    .navbar-collapse {
         background-color: white;
         padding-left: 20px;
         margin-bottom: 10px;
         position: absolute;
         top: 100%;
         padding-right:210px;
     }
     
    html,
    body {
        overflow-x: hidden;
    }

    .navlogo {
        
        width: 90px;
        height: 80px;
    }

    .breadcrumb ul li a {
        text-decoration: none;
        color: white;
    }

    .breadcrumb ul li span {
        text-decoration: none;
        color: white;
    }

    .breadcrumb h1 {
        text-decoration: none;
        color: white;
        font-family: "DM Sans, sans-serif";
        font-weight: 700;
    }


    .serv-card {
        margin-top: 96px;
    }

    .serv-img {
        width: 100%;
        height: 254px;
    }

    .serv-con {
        padding-top: 50px;
    }

    .text-cont h1 {
        color: red;
        font-size: 22px;
    }

    .text-cont p {
        color: black;
        font-family: "DM Serif Display, serif";
        font-size: 32px;
    }


    .pic {
        height: 280px;
        width: 100%;
        object-fit: cover;

    }

    .bg-smth h1 {
        font-family: "DM Serif Display, serif";
        font-size: 20px;
        font-weight: 600;
    }

    .bg-smth p {
        color: rgb(136, 136, 136);
        font-family: "DM Serif Display, serif";
        font-size: 16px;
    }

    .bg-smth h2 {
        font-family: "DM Serif Display, serif";
        font-size: 20px;
        font-weight: 700;
    }
    .bg-smth ul{
        padding-left: 16px;
    }

    .bg-smth ul li {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 24px 5px;
    }

    .bg-smth ul li strong {
        color: rgb(128, 127, 127);
        font-size: 16px;
        font-weight: 700;
    }

    .bg-box {
        padding: 20px 20px;
        padding-bottom: 10px;
        background-color: rgb(248, 247, 247);
        box-shadow: rgb(180, 180, 180) 3px 3px 10px;
    }

    .bg-box a {
        text-decoration: none;
        color: black;
    }

    .bg-box a i {
        rotate: 318deg;
        color: rgb(154, 154, 154);
    }


    .bg-box h3 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 1px;
    }

    .bg-box h2 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 20px;
    }

    .container-fluid {
        padding-right: 0px;
    }



    .form-bg {
        background-color: rgb(234 237 240);

        padding: 20px 20px;
    }

    .form-label {
        color: rgb(109, 109, 109);
        padding: 8px 0px;
    }

    .form-button {
        padding: 10px 0px;
    }

    .form-btn {
        background-color: #043454;
        font-size: 18px;
        padding: 5px 20px;
        text-align: center;
        border-radius: 20px;
    }

    .form-info input {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

    .form-info textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 15px;
    }

    .form-bg h3 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 24px;
        font-weight: 600;
    }

    .last-pic img {
        width: 110px;

    }

    .link-last h2 {
        font-size: 24px;
        font-family: "DM Serif Display, serif";
        color: black;
    }
}


@media (min-width:425px) and (max-width:599px) {
    .navbar-collapse {
         background-color: white;
         padding-left: 20px;
         margin-bottom: 10px;
         position: absolute;
         top: 100%;
         padding-right: 260px;
     }
     
    html,
    body {
        overflow-x: hidden;
    }

    .navlogo {
        width: 90px;
        height: 80px;
    }

    .breadcrumb ul li a {
        text-decoration: none;
        color: white;
    }

    .breadcrumb ul li span {
        text-decoration: none;
        color: white;
    }

    .breadcrumb h1 {
        text-decoration: none;
        color: white;
        font-family: "DM Sans, sans-serif";
        font-weight: 700;
    }


    .serv-card {
        margin-top: 96px;
    }

    .serv-img {
        width: 100%;
        height: 254px;
    }

    .serv-con {
        padding-top: 50px;
    }

    .text-cont h1 {
        color: red;
        font-size: 22px;
    }

    .text-cont p {
        color: black;
        font-family: "DM Serif Display, serif";
        font-size: 32px;
    }


    .pic {
        height: 280px;
        width: 100%;
        object-fit: cover;

    }

    .bg-smth h1 {
        font-family: "DM Serif Display, serif";
        font-size: 20px;
        font-weight: 600;
    }

    .bg-smth p {
        color: rgb(136, 136, 136);
        font-family: "DM Serif Display, serif";
        font-size: 16px;
    }

    .bg-smth h2 {
        font-family: "DM Serif Display, serif";
        font-size: 20px;
        font-weight: 700;
    }
    .bg-smth ul{
        padding-left: 16px;
    }

    .bg-smth ul li {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 24px 5px;
    }

    .bg-smth ul li strong {
        color: rgb(128, 127, 127);
        font-size: 16px;
        font-weight: 700;
    }

    .bg-box {
        padding: 20px 20px;
        padding-bottom: 10px;
        background-color: rgb(248, 247, 247);
        box-shadow: rgb(180, 180, 180) 3px 3px 10px;
    }

    .bg-box a {
        text-decoration: none;
        color: black;
    }

    .bg-box a i {
        rotate: 318deg;
        color: rgb(154, 154, 154);
    }


    .bg-box h3 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 1px;
    }

    .bg-box h2 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 20px;
    }

    .container-fluid {
        padding-right: 0px;
    }



    .form-bg {
        background-color: rgb(234 237 240);

        padding: 20px 20px;
    }

    .form-label {
        color: rgb(109, 109, 109);
        padding: 8px 0px;
    }

    .form-button {
        padding: 10px 0px;
    }

    .form-btn {
        background-color: #043454;
        font-size: 18px;
        padding: 5px 20px;
        text-align: center;
        border-radius: 20px;
    }

    .form-info input {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

    .form-info textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 15px;
    }

    .form-bg h3 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 24px;
        font-weight: 600;
    }

    .last-pic img {
        width: 200px;

    }

    .link-last h2 {
        font-size: 24px;
        font-family: "DM Serif Display, serif";
        color: black;
    }
}


@media (min-width:600px) and (max-width: 800px) {
    .navbar-collapse {
         background-color: white;
         padding-left: 20px;
         margin-bottom: 10px;
         position: absolute;
         top: 100%;
         padding-right: 580px;
     }

    html,body{
        overflow-x: hidden;
    }

    .navlogo {
        width: 90px;
        height: 80px;
    }

    .breadcrumb ul li a {
        text-decoration: none;
        color: white;
    }

    .breadcrumb ul li span {
        text-decoration: none;
        color: white;
    }

    .breadcrumb h1 {
        text-decoration: none;
        color: white;
        font-family: "DM Sans, sans-serif";
        font-weight: 700;
    }


    .serv-card {
        margin-top: 96px;
    }

    .serv-img {
        width: 100%;
        height: 256px;
    }

    .serv-con {
        padding-top: 80px;
    }

    .text-cont h1 {
        color: red;
        font-size: 22px;
    }

    .text-cont p {
        color: black;
        font-family: "DM Serif Display, serif";
        font-size: 32px;
    }

    .main-cont {
        margin-left: 200px;
    }

    .pic {
        height: 500px;
        width: 100%;
        object-fit: cover;

    }

    .bg-smth h1 {
        font-family: "DM Serif Display, serif";
        font-size: 28px;
        font-weight: 600;
    }

    .bg-smth p {
        color: rgb(136, 136, 136);
        font-family: "DM Serif Display, serif";
        font-size: 16px;
    }

    .bg-smth h2 {
        font-family: "DM Serif Display, serif";
        font-size: 18px;
        font-weight: 700;
    }

    .bg-smth ul li {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 24px 5px;
    }

    .bg-smth ul li strong {
        color: rgb(128, 127, 127);
        font-size: 16px;
        font-weight: 700;
    }

    .bg-box {
        padding: 20px 20px;
        padding-bottom: 10px;
        background-color: rgb(248, 247, 247);
        box-shadow: rgb(180, 180, 180) 3px 3px 10px;
    }

    .bg-box a {
        text-decoration: none;
        color: black;
    }

    .bg-box a i {
        rotate: 318deg;
        color: rgb(154, 154, 154);
    }

    .bg-box h3 span {
        margin-left: 350px;
    }

    .bg-box h3 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 1px;
    }

    .bg-box h2 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 20px;
    }

   

    .form-bg {
        background-color: rgb(234 237 240);
        padding: 20px 20px;
    }

    .form-label {
        color: rgb(109, 109, 109);
        padding: 8px 0px;
    }

    .form-button {
        padding: 10px 0px;
    }

    .form-btn {
        background-color: #043454;
        font-size: 18px;
        padding: 5px 20px;
        text-align: center;
        border-radius: 20px;
    }

    .form-info input {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

    .form-info textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 15px;
    }

    .form-bg h3 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 24px;
        font-weight: 600;
    }

    .last-pic img {
        width: 200px;

    }

    .link-last h2 {
        font-size: 24px;
        font-family: "DM Serif Display, serif";
        color: black;
    }
}

@media (min-width:800px) and (max-width:1024px) {
    
    .navlogo {
        width: 90px;
        height: 80px;
    }

    .breadcrumb ul li a {
        text-decoration: none;
        color: white;
    }

    .breadcrumb ul li span {
        text-decoration: none;
        color: white;
    }

    .breadcrumb h1 {
        text-decoration: none;
        color: white;
        font-family: "DM Sans, sans-serif";
        font-weight: 700;
    }


    .serv-card {
        margin-top: 96px;
    }

    .serv-img {
        width: 100%;
        height: 266px;
    }

    .serv-con {
        padding-top: 80px;
    }

    .text-cont h1 {
        color: red;
        font-size: 22px;
    }

    .text-cont p {
        color: black;
        font-family: "DM Serif Display, serif";
        font-size: 32px;
    }

    .main-cont {
        margin-left: 200px;
    }

    .pic {
        height: 400px;
        width: 100%;
        object-fit: cover;

    }

    .bg-smth h1 {
        font-family: "DM Serif Display, serif";
        font-size: 28px;
        font-weight: 600;
    }

    .bg-smth p {
        color: rgb(136, 136, 136);
        font-family: "DM Serif Display, serif";
        font-size: 16px;
    }

    .bg-smth h2 {
        font-family: "DM Serif Display, serif";
        font-size: 18px;
        font-weight: 700;
    }

    .bg-smth ul li {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 24px 5px;
    }

    .bg-smth ul li strong {
        color: rgb(128, 127, 127);
        font-size: 16px;
        font-weight: 700;
    }

    .bg-box {
        padding: 20px 20px;
        padding-bottom: 10px;
        background-color: rgb(248, 247, 247);
        box-shadow: rgb(180, 180, 180) 3px 3px 10px;
        margin-right: 40px;
    }

    .bg-box a {
        text-decoration: none;
        color: black;
    }

    .bg-box a i {
        rotate: 318deg;
        color: rgb(154, 154, 154);
    }

    .bg-box h3 span {
        margin-left: 350px;
    }

    .bg-box h3 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 1px;
    }

    .bg-box h2 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 20px;
    }

    .form-bg {
        background-color: rgb(234 237 240);
        margin-right: 40px;
        padding: 20px 20px;
    }

    .form-label {
        color: rgb(109, 109, 109);
        padding: 8px 0px;
    }

    .form-button {
        padding: 10px 0px;
    }

    .form-btn {
        background-color: #043454;
        font-size: 18px;
        padding: 5px 20px;
        text-align: center;
        border-radius: 20px;
    }

    .form-info input {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

    .form-info textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 15px;
    }

    .form-bg h3 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 24px;
        font-weight: 600;
    }

    .last-pic img {
        width: 200px;

    }

    .link-last h2 {
        font-size: 24px;
        font-family: "DM Serif Display, serif";
        color: black;
    }
}


@media (min-width:1025px) and (max-width:1440px) {
    .navlogo {
        margin-left: 70px;
        width: 90px;
        height: 80px;
    }

    .breadcrumb ul li a {
        text-decoration: none;
        color: white;
    }

    .breadcrumb ul li span {
        text-decoration: none;
        color: white;
    }

    .breadcrumb h1 {
        text-decoration: none;
        color: white;
        font-family: "DM Sans, sans-serif";
        font-weight: 700;
    }


    .serv-card {
        margin-top: 96px;
    }

    .serv-img {
        width: 100%;
        height: 450px;
    }

    .serv-con {
        padding-top: 210px;
    }

    .text-cont h1 {
        color: red;
        font-size: 22px;
    }

    .text-cont p {
        color: black;
        font-family: "DM Serif Display, serif";
        font-size: 32px;
    }

    .main-cont {
        margin-left: 200px;
    }

    .pic {
        height: 500px;
        width: 100%;
        object-fit: cover;

    }

    .bg-smth h1 {
        font-family: "DM Serif Display, serif";
        font-size: 32px;
        font-weight: 600;
    }

    .bg-smth p {
        color: rgb(136, 136, 136);
        font-family: "DM Serif Display, serif";
        font-size: 18px;
    }

    .bg-smth h2 {
        font-family: "DM Serif Display, serif";
        font-size: 20px;
        font-weight: 700;
    }

    .bg-smth ul li {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 24px 5px;
    }

    .bg-smth ul li strong {
        color: rgb(128, 127, 127);
        font-size: 16px;
        font-weight: 700;
    }

    .bg-box {
        padding: 20px 20px;
        padding-bottom: 10px;
        background-color: rgb(248, 247, 247);
        box-shadow: rgb(180, 180, 180) 3px 3px 10px;
        margin-right: 40px;
    }

    .bg-box a {
        text-decoration: none;
        color: black;
    }

    .bg-box a i {
        rotate: 318deg;
        color: rgb(154, 154, 154);
    }

    .bg-box h3 span {
        margin-left: 350px;
    }

    .bg-box h3 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 1px;
    }

    .bg-box h2 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 20px;
    }

    .contact-cont {}

    .form-bg {
        background-color: rgb(234 237 240);
        margin-right: 40px;
        padding: 20px 20px;
    }

    .form-label {
        color: rgb(109, 109, 109);
        padding: 8px 0px;
    }

    .form-button {
        padding: 10px 0px;
    }

    .form-btn {
        background-color: #043454;
        font-size: 18px;
        padding: 5px 20px;
        text-align: center;
        border-radius: 20px;
    }

    .form-info input {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

    .form-info textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 15px;
    }

    .form-bg h3 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 24px;
        font-weight: 600;
    }

    .last-pic img {
        width: 200px;

    }

    .link-last h2 {
        font-size: 24px;
        font-family: "DM Serif Display, serif";
        color: black;
    }

}

@media (min-width:1441px) and (max-width:2560px) {
    .navlogo {
        margin-left: 70px;
        width: 90px;
        height: 80px;
    }

    .breadcrumb ul li a {
        text-decoration: none;
        color: white;
    }

    .breadcrumb ul li span {
        text-decoration: none;
        color: white;
    }

    .breadcrumb h1 {
        text-decoration: none;
        color: white;
        font-family: "DM Sans, sans-serif";
        font-weight: 700;
    }


    .serv-card {
        margin-top: 96px;
    }

    .serv-img {
        width: 100%;
        height: 450px;
    }

    .serv-con {
        padding-top: 210px;
    }

    .text-cont h1 {
        color: red;
        font-size: 22px;
    }

    .text-cont p {
        color: black;
        font-family: "DM Serif Display, serif";
        font-size: 32px;
    }

    .main-cont {
        margin-left: 200px;
    }

    .pic {
        height: 500px;
        width: 100%;
        object-fit: cover;

    }

    .bg-smth h1 {
        font-family: "DM Serif Display, serif";
        font-size: 32px;
        font-weight: 600;
    }

    .bg-smth p {
        color: rgb(136, 136, 136);
        font-family: "DM Serif Display, serif";
        font-size: 18px;
    }

    .bg-smth h2 {
        font-family: "DM Serif Display, serif";
        font-size: 20px;
        font-weight: 700;
    }

    .bg-smth ul li {
        color: rgb(167, 167, 167);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 24px 5px;
    }

    .bg-smth ul li strong {
        color: rgb(128, 127, 127);
        font-size: 16px;
        font-weight: 700;
    }

    .bg-box {
        padding: 20px 20px;
        padding-bottom: 10px;
        background-color: rgb(248, 247, 247);
        box-shadow: rgb(180, 180, 180) 3px 3px 10px;
        margin-right: 40px;
    }

    .bg-box a {
        text-decoration: none;
        color: black;
    }

    .bg-box a i {
        rotate: 318deg;
        color: rgb(154, 154, 154);
    }

    .bg-box h3 span {
        margin-left: 350px;
    }

    .bg-box h3 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 1px;
    }

    .bg-box h2 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 20px;
    }

    .contact-cont {}

    .form-bg {
        background-color: rgb(234 237 240);
        margin-right: 40px;
        padding: 20px 20px;
    }

    .form-label {
        color: rgb(109, 109, 109);
        padding: 8px 0px;
    }

    .form-button {
        padding: 10px 0px;
    }

    .form-btn {
        background-color: #043454;
        font-size: 18px;
        padding: 5px 20px;
        text-align: center;
        border-radius: 20px;
    }

    .form-info input {
        width: 100%;
        height: 50px;
        padding: 10px;
    }

    .form-info textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 15px;
    }

    .form-bg h3 {
        color: #043454;
        font-family: "DM Serif Display, serif";
        font-size: 24px;
        font-weight: 600;
    }

    .last-pic img {
        width: 200px;

    }

    .link-last h2 {
        font-size: 24px;
        font-family: "DM Serif Display, serif";
        color: black;
    }
}